<app-page-breadcrumb pageTitle="Modules" />
<app-generic-data-table
  [data]="modulesData"
  [columns]="columns"
  [config]="config"
  [actions]="actions"
  [idKey]="'id'"
  [loading]="isLoading"
  [serverSidePagination]="true"
  [totalRecords]="totalRecords"
  (pageChange)="onPageChange($event)"
  (itemsPerPageChange)="onItemsPerPageChange($event)"
  (sortChange)="onSortChange($event)"
  (searchChange)="onSearchChange($event)"
  (selectionChange)="onSelectionChange($event)"
  (actionClick)="onActionClick($event)"
  (createClick)="onCreateClick()"
></app-generic-data-table>

